.message{
  font-family: "Montserrat", sans-serif;
  font-weight: 28px;

}


.imageAndText {

}

.imageAndText img {

}

.text {
  
}

.text:after {

}

.name {

}

.messageText {
  font-family: "Montserrat", sans-serif;
  font-weight: 16px;
}

.time {

}